*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}

body{
    color: #ededed;
    background:#0b111e;
    overflow-x: hidden;
}
 
.light{
    color: black;
    background:#f4f4f4;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem ;
    
   
    background: #0b111e;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 2rem;
    margin-left: 10rem;
    color:#0ef;
    text-decoration: none;
    font-weight: 600;
    cursor: default;

    opacity: 0;
    animation: slideRight 1s ease forwards;
}


.navbar a{
    
    font-size: 1.5rem;
    margin-right: 10rem;
    color: #fff;
    background: transparent;
    text-decoration: none;

   
    transition: .3s;
    opacity: 0;
   animation: slideTop .5s ease forwards;  

}

.navbar button:hover{
   color: yellow;
}

.home{
    position: relative;
    width: 100%;
    justify-content: center;
    height: 45rem;
    background-color: #0b111e;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
}

.home-content{
    max-width: 60rem; 
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h4{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: .7s;
}



.home-content h3{
    font-size: 5rem;
    font-weight: 700;
    margin: -0.3rem 0;
    margin-bottom: 0.5rem;
    color: #0ef;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}





.home-2 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
    width: 1.5rem;
    text-decoration: none;
    background: transparent;
    color: #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-left: 1rem;
    
    transition:  .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
     
}

.home-2 a:hover{
    color: aqua;
}



 .row{

    width: 100%;
    display: flex;
    height: 45rem;

}

.col{

    justify-content: center;
    flex: 1;
}



.image{
   
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-top: 10rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
   
}
.image img{
    width: 45%;
    height: 60%;
    border-radius: 10%;
    margin-top: 5rem;
    
}

.data{
    justify-content: center;
    margin-top: 10rem;
    margin-right:5rem ;

    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
 }

 .data h2{
    font-size: 3.5rem;
    
 }

 .data h2 span{
    color: #0ef;
 }

 .data h4{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.7;
    margin: 1.5rem 0 3rem;
    color: #fff;
 }

 .data p{
    font-size: 1.4rem;
    line-height: 1.4;
    
    margin: .5rem;
    color: aliceblue;
 } 


/* WORK PART */



 #work{
    color: aliceblue;
    
    font-size: 1.4rem;
    line-height: 1.4;
    height: 45rem;
    margin-top: auto;
    margin-bottom: 18rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 

 .sub-title{
    display: flex;
    justify-content: center;
    align-items: center;;
    font-size: 3.5rem;
    padding-top:2rem;
    padding-bottom:5rem;

    

    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
 }

 .sub-title span{
    color: #0ef;
    margin-left: 1.5rem;
 }


 .work-list{
    display: grid;
    grid-template-columns: repeat(3,minmax(15rem,1fr));
    
    text-align: center;
    grid-gap: 4rem;
     /* margin-top: 5rem;
    margin-left: 20rem; 
    margin-right: 18rem;  */
   
    

 }

 .work-list div{
   background-color: rgb(0,58,117,0.1);
   /* padding: 1.5rem; */
   font-size: 1.5rem;
   font-weight: 1.3rem;
   border-right: 1rem;
   border-radius: 2rem ;
   /* box-shadow: 0 0 0.5rem #0ef; */
  
 }

 


  .work-list div img{
    
    font-size: 1rem;
    width: 13rem;
    height: 8rem;
    margin-top: 1rem;
    border-radius: 2rem;
   
  }



  div.c1{

    
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
  }


  .work-list div h6{

    font-size: 1rem;
    text-align: left;
    padding-left: 1.5rem;
    margin-bottom: .5rem;
  }

  .work-list div p{

    font-size: 1rem;
    text-align: left;
    padding-left: 1.5rem;
    margin-bottom: .5rem;
  }

  .work-list div a{
    
    text-decoration: none;
    color: #0ef;
    font-size: 1rem;
    text-align: left;
    padding-left: 01rem;
    display: inline-block;
    letter-spacing:0.1rem;
  }

  

.read:hover {
    color: #3366cc
    ;
   
}

.work-list div:hover{
    box-shadow:  0 0 1rem rgb(251, 253, 253);
    transform: translateY(-10px);
  }



  /* Skill part  */


   section{
    display:flexbox;
    flex-wrap:wrap;
} 

  .sub-titl{
    display: flex;
    justify-content: center;
    align-items: center;;
    font-size: 3.5rem;
    padding-top:2rem;
    padding-bottom:5rem;
    
    
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
 }

 

 .sub-titl span{
    color: #0ef;
    margin-left: 1.5rem;
 }




.container1{
    
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
    height:auto;
    /* padding: 75px 90px; */
    margin-left: 20rem; 
    margin-right: 20rem;   
   
}


.heading1{
    
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    text-decoration-thickness: 0.1rem;
    margin-bottom: 5rem;

    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

 
.bar{
    font-size: 2rem;
    
}

.Technical-bar .bar{
    margin-top :4rem  ;
    width: 100%;

}



.Technical-bar .bar:first-child{
    margin-top: 0;
    
}

.Technical-bar .bar:last-child{
    margin-bottom: 0;
}

.Technical-bar .bar .info {
    margin-bottom: .5rem;
   
}

.Technical-bar .bar .info span{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    
    animation : showText 0.5s 1s linear forwards;
    opacity: 0;

}

.Technical-bar .bar .progress-line {
    position: relative;
    border-radius: 1rem;
    width: 100%;
    height: 0.5rem;
    
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    
    100%{
        transform: scaleX(1);
    }
 }


 .Technical-bar .bar .progress-line span{
   
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 1rem;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 60%;
}

.progress-line.c span{
    width: 70%;
}

.progress-line.cc span{
    width: 70%;
}

.progress-line.java span{
    width: 75%;
}

.progress-line.ad span{
    width: 85%;
}

.progress-line.p span{
    width: 50%;
}


.progress-line span::after{
    position: absolute;
    padding: .1rem .4rem;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    border-radius: .3rem;
    top:-2.8rem;
    right: -2rem;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}


.progress-line.html span::after{
    content:"60%"
}

.progress-line.c span::after{
    content:"70%"
}

.progress-line.cc span::after{
    content:"75%"
}

.progress-line.java span::after{
    content:"85%"
}

.progress-line.ad span::after{
    content:"90%"
}

.progress-line.p span::after{
    content:"50%"
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: .7rem solid transparent;
    border-bottom-width: 0rem;
    border-top-right-radius:0rem ;
    border-top-color:#000 ;
    top: -1rem;
    right: 0;
    animation: showText .5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}

.container2{
    
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
    height:auto;
    margin-bottom: 8rem;
    margin-left: 10rem; 
    margin-right: 10rem;
     
}

.heading2{
    
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    text-decoration-thickness: 0.1rem;
    margin-bottom: 5rem;
    margin-top: 10rem;

    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.radial-bars .radial-bar{
    width: 50%;
    height: 20rem;
    margin-bottom: 2rem;
    position: relative;


    display: flex;
    justify-content: center;
    align-items: center;
}
.radial-bars .radial-bar svg{

     /* transform: translate(-50%,-50%) rotate(-90deg); */
    width: 12rem;
    height: 20rem;
    
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color:#000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
    

}

@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: #0b111e;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    
}


.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}



@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 75;
    }
}




.radial-bar .percentage{
    position: absolute;
     
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(-50%,-50%); */
    font-size: 1.7rem;
    font-weight: 500;

    animation: showText .5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 17rem;
    /* left: 2.5rem; */
    
    font-size: 1.2rem;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}








 

/* Contact PART */

#contactme{
    margin-bottom: 6rem;
}

.contact{
    color: aliceblue;
    font-size: 1.4rem;
    line-height: 1.4;
    height: 45rem;
    
    /* margin-bottom: 18rem; */
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }

 



 .contact-list{
    display: grid;
    grid-template-rows: repeat(1,minmax(2rem,1fr));
    
    width: auto;
    text-align: center;
    grid-gap: 1rem;
    margin-top: 5rem;
    
    

 }

 .contact-list div{
   background-color: rgb(0,58,117,0.1);
   font-size: 1.5rem;
   border-right: 1rem;
   border-radius: 2rem ;
   width: auto;
   margin-bottom: 1rem;
   
  
 }

 
  div.co1{

    
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
  }
  div.co2{

    
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
  }
  div.co3{

    
    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: .7s;
  }


  .contact-list div i{

    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: .5rem;
    letter-spacing:0.1rem;
  }

  .contact-list div h6{

    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: .5rem;
    letter-spacing:0.1rem;
  }

  .contact-list div p{

    font-size: 1rem;
    text-align: center;
    margin-bottom: .5rem;
    letter-spacing:0.1rem;
  }

  .contact-list div a{
    
    text-decoration: none;
    color: #0ef;
    font-size: 1rem;
    letter-spacing:0.1rem;
  }

  

.read:hover {
    color: #3366cc;
}

.contact-list div:hover{
    box-shadow:  0 0 1rem rgb(251, 253, 253);
    transform: translateY(-15px);
  }















  .navbar1{
    position: sticky;
    bottom: 1rem;
    
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(122, 131, 149, 0.35);
    
    border: 0px solid rgba(255, 255, 255, 0.125);
    
    height: 3rem;
    width:fit-content;
    padding:  1.5rem;
    font-size: 2rem;
    margin: auto;
    border-radius: 2rem;
    padding-top: 0.5rem;

    justify-content:space-around;
    margin-top: -3rem;
    
 }

 .navbar1 a{
    
    color: #fff;
    
     margin-right: .5rem; 
    margin-left: .5rem; 
    text-align: center;
    
 }
  .navbar1 a:hover{
    color: #0ef;
 }











 


 @keyframes slideRight {
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
 }

 @keyframes slideLeft {
    0%{
        transform: translateX( 10rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
 }

 @keyframes slideTop {
    0%{
        transform: translateY(-10rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1; 
    }
 }

 @keyframes slideButtom {
    0%{
        transform: translateY(-10rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
 }

 


 @media(max-width:998px)
 {
    html{
        font-size: 55%;
    }
    .navbar1{
        display: none;
    }

    
    
 }

 @media(max-width:768px)
 {
    html{
        font-size: 50%;
        
       
    }

    .image img{
    
        max-width: 63rem;
        height: 50%;
        width: 50%;
        /* margin-left: 10rem; */
        margin-top: 10rem;
        
        
     }
    .navbar1{
        display: none;
    }

     
    
 }

 
 @media(max-width:600px)
 {
    html{
        font-size: 40%;
    }

    .logo{
        font-size: 3.5rem;

    }

    .navbar button{
        font-size: 3.5rem;
    }
    
    .image{

        margin-top: -5rem;
    }
    .image img{
        max-width: 63rem;
        height: 55%;
        width: 40%;
        /* margin-left: 10rem; */
    }
    .data{
        margin-top: 2rem;
    }



    .work-list{
        display: grid;
        grid-template-columns: repeat(3,minmax(15rem,1fr));
        
        text-align: center;
        grid-gap: 2rem;
         margin-top: 10rem;
        /* margin-left: 8rem; 
        margin-right: 8rem;  */
        
    
     }

     .container1{    
        margin-left: 10rem; 
        margin-right: 10rem;
    }
     .container2{    
        margin-left: 10rem; 
        margin-right: 10rem;
    }

    .navbar1{
        display: none;
    }
 }


 @media(max-width:500px)
 {
    .navbar1{
        display: none;
    }
 }
