.background-container {
  position: absolute;
  top: 5%;
  left: 1%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}

.background-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
