.container-1 {
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.about-text {
  padding-left: "3rem";
  font-size: "1.2rem";
  font-family: "Quicksand";
  font-weight: 500;
}

@media (max-width: 400px) {
  .about-text {
    font-size: 15px;
    text-align: center;
  }
}
