
.about-text {
  font-size: 1.2rem;
  font-family: 'Quicksand';
  font-weight: 500;
}

.highlight {
  font-weight: bold;
}

@media (max-width: 400px) {
  .about-text {
    font-size: 15px;
    text-align: center;
  }
}
